.maincontact{
    width: 100%;
    overflow: hidden;

    .contact {
        width: 280px;
        padding: 0;

        .title{
            margin-bottom: 50px;
           h3{
               margin-left: 0;
           }
        }

        .addres{
            margin: 0 10px;
            flex-direction: column;
        }

        .mail {
            margin: 0 10px;

            input {

                &.short {
                    margin-left: 0;
                    width: 100%;
                    
                }
            }
        }
    }
}