.maincontact{
    width: 100%;
    overflow: hidden;

    .contact {
        width: 768px;

        .title {
           h3 {
               margin-left: 0;
           }
        }

        .addres{
            margin: 0 20px;
        }

        .mail {
            margin: 0 20px;

            input {

                &.short {
                    margin-left: 13px;
                    width: 48.4%;
                }
            }
        }
    }
}