@import 'palete.scss';

.portfolio {

    .title {
        margin-bottom: 70px;

        h3 {
            margin-left: 0;
        }
    }

    .content {
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 163px 163px 163px 163px;

        

        .item {

            .image {

                &:hover {

                    .hover {

                        .icons {
                            display: none;
                        }

                        .icons-mobile {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 60%;
                            background-color: $color-6-opasity;

                            img {
                                margin-right: 10px;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }

                        .text {
                            height: 40%;
                            background-color: $bc-color;

                            h4 {
                                font-size: 13.99px;
                                line-height: 26.96px;
                            }

                            p {
                                font-size: 9.99px;
                                line-height: 21.96px;
                            }
                        }
                    }
                }
            }

            &.item-1 {
                grid-column: 1/2;
            }

            &.item-2 {
                grid-column: 1/2;
            }

            &.item-3 {
                grid-column: 1/2;
            }

            &.item-4 {
                grid-column: 1/2;
            }

            &.item-5 {
                display: none;
            }

            &.item-5 {
                display: none;
            }

            &.item-5 {
                display: none;
            }
        }
    }
}
