@import 'palete.scss';
@import 'fonts.scss';

.mainservices {
    width: 100%;
    background-color: $bc-color;
    display: flex;
    justify-content: center;

    .services {
        max-width: 1188px;
        padding-top: 141px;
        text-align: center;

        .title {
            text-align: center;
            margin-bottom: 152px;
            position: relative;

            h3 {
                font-family: $Raleway;
                font-weight: 600;
                font-size: 31px;
                line-height: 34px;
                color: $color-1;
                margin-left: 21px;
                margin-bottom: 16px;
            }

            .setting {

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 122px;
                    background-color: $color-3;
                    margin: auto;
                    margin-top: 5px;
                }
                    
                 &::before {
                    content: url("/images/services/setting.png");
                    padding: 0 7px;
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    background: $bc-color;
                }
            }
        }

        .mainitem {
            display: flex;
            margin-bottom: 126px;

            .item { 

                &.one {

                    div {

                        &::before {
                            content: url("/images/services/group-1.png");
                        }
                    }
                }

                &.two {

                    div {

                        &::before {
                            content: url("/images/services/group-2.png");
                        }
                    }
                }

                &.three {

                    div {

                        &::before {
                            content: url("/images/services/group-3.png");
                        }
                    }
                }

                h3 {
                    font-family: $Raleway;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 40px;
                    color: $color-2;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    padding-top: 30px;
                }

                p {
                    font-family: $Raleway;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: $color-1
                }

                &:hover{

                    &.one {

                        div {
    
                            &::before {
                                content: url("/images/services/hover-1.png");
                            }
                        }
                    }
    
                    &.two {
    
                        div {
    
                            &::before {
                                content: url("/images/services/hover-1.png");
                            }
                        }
                    }
    
                    &.three {
    
                        div {
    
                            &::before {
                                content: url("/images/services/hover-1.png");
                            }
                        }
                    }
                }
            }
        }
    }
}