@import '../../palete.scss';

.mainservices {

    .services {
        max-width: 280px;

        .title {
            padding-bottom: 60px;
        }

        .mainitem {
            display: flex;
            flex-direction: column;

            .item {

                p {
                    padding-bottom: 50px;
                }
            }
        }
    }
}
