.mainservices {

    .services {
        max-width: 768px;

        .title {
            margin-bottom: 60px;
            h3 {
                margin-left: 0;
            }
        }

        .mainitem {
            display: flex;
            flex-direction: column;

            .item {

                p {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
