.mainaboutus {
    width: 100%;
    margin-top: 115px;
    overflow: hidden;
}

.about-us {
    width: 1188px;
    margin: auto;
    margin-bottom: 50px;

    .title {
        text-align: center;
        position: relative;
        margin-bottom: 80px;

        h3 {
            margin-left: 22px;
            font-family: $Raleway;
            font-weight: 600;
            font-size: 31px;
            line-height: 34px;
            color: $color-6;
            position: relative;
            margin-bottom: 22px;

            span {
                color: $color-2;
            }
        }

        .speak {

            display: block;

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 122px;
                background-color: $color-3;
                margin: auto;
                margin-top: 5px;
            }
                
             &::before {
                background-image: url("/images/about-us/speak-icon.png");
                position: absolute;
                top: 37px;
                background: $color-1;
                left: 50%;
                transform: translate(-50%, 50%);
                padding: 0 7px;
            }
        }

    }

    .content {
        display: flex;
        width: 100%;
        margin-bottom: 145px;

        .pc {
            position: relative;
            width: 1188px;
            height: 414px;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            margin-right: 165px;

            img {
                position: absolute;
                width: 100%;

                &.patern {
                    display: none;
                }
            }
        }

        .info {

            h4 {
                font-family: $Raleway;
                font-weight: 400;
                font-size: 31px;
                line-height: 19px;
                color: $color-4;
                padding-bottom: 30px;
                padding-top: 26px;
                word-spacing: -5px;
            }

            p {
                font-family: $Open-Sans;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                color: $color-5;
                margin-bottom: 47px;

                span{
                    display: none;
                }
            }

            .mainbox {
                display: grid;
                grid-template-columns: 275px 275px;
                grid-template-rows: 90px 90px;
                grid-column-gap: 18px;
                grid-row-gap: 35px;

                .box {

                    div {

                        &::before {
                            content: url("/images/about-us/setting.png");
                            float: left;
                            margin-right: 27px;
                        }

                        h5 {
                            font-family: $Raleway;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 19px;
                            color: $color-4;
                            margin-bottom: 8px;
                        }
                    }

                    &.two {

                        div {

                            &::before {
                                content: url("/images/about-us/location.png");
                            }
                        }
                    }

                    &.three {

                        div {

                            &::before {
                                content:: url("/images/about-us/heart.png");
                            }
                        }
                    }

                    &.four {

                        div {

                            a {
                                display: none;
                            }

                            &::before {
                                content:: url("/images/about-us/note.png");
                            }
                        }
                    }

                }
            }
        }

    }
}
