@import '../../palete.scss';
@import '../../fonts.scss';

.mainaboutus{
    width: 100%;
    overflow: hidden;
}

.about-us {
    width: 1188px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;

    .title {
        text-align: center;
        position: relative;
        padding-bottom: 50px;

        img{
            position: absolute;
            top: 30px;
            background: $color-header;
        }

        h3 {
            font-family: $Raleway;
            font-weight: 600;
            font-size: 31px;
            line-height: 34px;
            color: $color-text;
            position: relative;

            span {
                color: $color-slider-2;
            }

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100px;
                background-color: $color-before;
                margin: auto;
                margin-top: 5px;
            }
        }
    }

    .content {
        display: flex;

        .pc {
            margin-right: 95px;
        }

        .info {

            h4 {
                font-family: $Raleway;
                font-weight: 400;
                font-size: 31px;
                line-height: 19px;
                color: $color-text;
                padding-bottom: 40px;
            }

            p {
                font-family: $Open-Sans;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                color: $color-text-p;
                padding-bottom: 40px;

                span{
                    display: none;
                }
            }

            .mainbox {
                display: grid;
                grid-template-columns: 275px 275px;
                grid-template-rows: 90px 90px;

                .box {
                    margin-right: 17px;

                    &:nth-child(even){
                        margin-right: 0;
                    }

                    div {
                        float: right;

                        &::before {
                            content: url("../../../images/about-us/FEATURES\ ONE.png");
                            float: left;
                            margin-right: 10px;

                            }

                        h5 {
                            font-family: $Raleway;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 19px;
                            color: $color-text;
                        }
                    }

                    &.two {

                        div {

                            &::before {
                                content: url("../../../images/about-us/FEATURES\ TWO.png");
                            }
                        }
                    }

                    &.three {

                        div {

                            &::before {
                                content: url("../../../images/about-us/FEATURES\ THREE.png");
                            }
                        }
                    }

                    &.four {

                        div {
                            a{
                                display: none;
                            }

                            &::before {
                                content: url("../../../images/about-us/FEATURES\ FOUR.png");
                            }
                        }
                    }

                }
            }
        }

    }
}
