@import '../styles/palete.scss';
@import '../styles/fonts.scss';

.mainaboutus {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.about-us {
    width: 1188px;
    margin-bottom: 50px;
    margin: auto;

    .title {
        text-align: center;
        position: relative;
        margin-bottom: 50px;

        h3 {
            font-family: $Raleway;
            font-weight: 600;
            font-size: 31px;
            line-height: 34px;
            color: $color-6;
            position: relative;

            span {
                color: $color-2;
            }

        }

        .speak {

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100px;
                background-color: $color-3;
                margin: auto;
                margin-top: 5px;
            }
                
             &::before {
                content: url("/images/about-us/Speak Icon.png");
                position: absolute;
                top: 21px;
                background: #FFFFFF;
                left: 50%;
                transform: translate(-50%, 50%);
                padding: 0 7px;
            }
        }

    }

    .content {
        display: flex;
        width: 100%;
        margin-bottom: 50px;

        .pc {
             //  position: relative;
                width: 1188px;
                height: 414px;
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                margin-right: 95px;
        
                img{
                 //  position: absolute;
                   width: 100%;

                &.patern{
                    display: none;
                }
                }
            }

        .info {

            h4 {
                font-family: $Raleway;
                font-weight: 400;
                font-size: 31px;
                line-height: 19px;
                color: $color-4;
                margin-bottom: 40px;
            }

            p {
                font-family: $Open-Sans;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                color: $color-5;
                margin-bottom: 40px;

                span{
                    display: none;
                }
            }

            .mainbox {
                display: grid;
                grid-template-columns: 275px 275px;
                grid-template-rows: 90px 90px;
                grid-gap: 17px;

                .box {

                    div {

                        &::before {
                            content: url("/images/about-us/FEATURES\ ONE.png");
                            float: left;
                            margin-right: 10px;

                            }

                        h5 {
                            font-family: $Raleway;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 19px;
                            color: $color-4;
                        }
                    }

                    &.two {

                        div {

                            &::before {
                                content: url("/images/about-us/FEATURES\ TWO.png");
                            }
                        }
                    }

                    &.three {

                        div {

                            &::before {
                                content: url("/images/about-us/FEATURES\ THREE.png");
                            }
                        }
                    }

                    &.four {

                        div {
                            a{
                                display: none;
                            }

                            &::before {
                                content: url("/images/about-us/FEATURES\ FOUR.png");
                            }
                        }
                    }

                }
            }
        }

    }
}
