.about-us {
    width: 768px;
    height: auto;

    .content {
        display: inherit;

        .pc {
            position: relative;
            width: 718px;
            height: 421px;
            margin: auto;
            margin-bottom: 50px;

               img {
                  position: absolute;
                  width: 100%;

                &.patern {
                    display: block;

                }
                &.comp {
                    display: none;
                }
               }
           }

        .info {
            margin: 0 25px;

            h4 {
                border-bottom: 1px solid $color-3;
                margin-bottom: 20px;
            }

            .mainbox {
                grid-template-columns: 100%;
                grid-template-rows: 90px 90px 90px 90px;

                .box {
                    margin-right: 0;

                    div {
                        float: left;
                        width: 100%;

                        h5{
                            display: none;
                        }

                        p {
                            span {
                                display: inline;
                            }
                        }

                        &::before {
                            content: url("/images/about-us/check-icon.png");
                        }
                    }

                    &.two {

                        div {

                            &::before {
                                content: url("/images/about-us/check-icon.png");
                            }
                        }
                    }

                    &.three {

                        div {

                            &::before {
                                content: url("/images/about-us/check-icon.png");
                            }
                        }
                    }

                    &.four {

                        div {

                            a {
                                display: inline-block;
                                padding: 0 30px;
                                background-color: $color-2;
                                color: $color-1;
                                font-family: $Raleway;
                                font-size: 13px;
                                font-weight: 600;
                                line-height: 44px;
                                text-decoration: none;
                                text-transform: uppercase;
                            }

                            &::before, p {
                              display: none;
                            }
                        }
                    }
                }
            }

        }

    }
}