$bc-color: #000000; 
$bc-color-2: #292929;
$bc-color-3: #111111;
$br-color:#D4D4D4;
$color-1: #FFFFFF;
$color-2: #3AB6B2;
$color-3: #D3D3D3;
$color-4: #323232;
$color-5: #6A6A6A;
$color-6: #323232;
$color-6-opasity: rgba(41, 41, 41, .6);
