$bc-color: #000000; 
$bc-color-2: #292929;
$br-color:#D4D4D4;
$color-1: #FFFFFF;
$color-2: #3AB6B2;
$color-3: #D3D3D3;
$color-4: #323232;
$color-5: #6A6A6A;
$color-6: #323232;


// $bc-color-header chemi dzveli saxelit
$bc-color-header: #000000;
$color-header: #FFFFFF;
$color-slider-1: #FFFFFF;
$color-slider-2: #3AB6B2;
$color-before: #D3D3D3;
$color-text: #323232;
$color-text-p: #6A6A6A;
$color-text-addres: #323232;
$bc-color-slider: #292929;