$bc-color-header: #000000;
$bc-color-slider: #292929;
$color-header: #FFFFFF;
$color-slider-1: #FFFFFF;
$color-slider-2: #3AB6B2;
$color-text: #323232;
$color-before: #D3D3D3;
$color-text-p: #6A6A6A;
