footer {

    .content {

        .soc-icons {
            widows: 80%;

            .fb-black {
                display: block;
            }

            .fb {
                display: none;
            }
        }

    }
}