@import '../../palete.scss';
@import '../../fonts.scss';

.slider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bc-color;
    height: 758px;

    .bg-image {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
        }
    }

    .prev {
        position: absolute;
        top: 50%;
        left: 5%;

        &::before {
            content: url("/images/slider/prev.png")
        }
    }

    .next {
        position: absolute;
        top: 50%;
        right: 5%;

        &::before {
            content: url("/images/slider/next.png")
        }
    }

    .content {
        position: absolute;
        max-width: 1188px;
        text-align: center;

        h2 {
            margin-bottom: 23px;
            color: $color-1;
            font-family: $Raleway;
            font-size: 62px;
            font-weight: 200;
            line-height: 74.4px;
        }

        h1 {
            margin-bottom: 25px;
            color: $color-1;
            font-family: $Montserrat;
            font-size: 74px;
            font-weight: 700;
            line-height: 88.8px;
        }

        p {
            margin-bottom: 40px;
            color: $color-1;
            font-family: $Raleway;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
        }

        a {
            display: inline-block;
            padding: 0 30px;
            border: 1px solid $color-1;
            outline: 3px solid $color-2;
            background-color: $color-2;
            color: $color-1;
            font-family: $Raleway;
            font-size: 13px;
            font-weight: 600;
            line-height: 44px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
