@import '../styles/palete.scss';
@import '../styles/fonts.scss';

header {
    width: 100%;
    overflow: hidden;
    background-color: $bc-color;

    .header {
        display: flex;
        justify-content: space-between;
        width: 1188px;
        margin: auto;
        padding: 34px 20px 33px;

        .logo {
            color: $color-1;
            font-family: $Raleway;
            font-size: 36px;
            font-weight: 300;
            line-height: 21.36px;
            text-decoration: none;
            text-transform: uppercase;

            &::before {
                content: url("/images/header/logo.png");
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            width: 63%;
            margin-top: 12px;

            a {
                padding-left: 5px;
                color: $color-1;
                font-family: $Open-Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 21.36px;
                text-decoration: none;
                text-transform: uppercase;
                
            }
        }

        .menubutton {
            display: none;
            position: relative;
        }
    }
}
