@import 'base';

@media #{$mobile} {
    @import 'mobile';
}

@media #{$tablet} {
    @import 'tablet';
}

@media #{$desktop} {
    @import 'desktop';
}

@media #{$desktop-large} {
    @import 'desktop-large';
}

@media #{$desktop-x-large} {
    @import 'desktop-x-large';
}

@import '../../palete.scss';
@import '../../fonts.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 35px;

    .logo {
        display: flex;
        position: relative;

        img {
            position: absolute;
            top: -18px;
            width: 26px;
            height: 42px;
        }

        h1 {
            margin-left: 26px;
            color: $color-header;
            font-family: $Raleway;
            font-size: 36px;
            font-weight: 300;
            line-height: 21.36px;
        }
    }

    nav {

        ul {
            display: flex;
            list-style: none;

            li {
                padding-right: 42.7px;

                &:last-child {
                    padding-right: 0;
                }

                a {
                    color: $color-header;
                    font-family: $Open-Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21.36px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }

    .menubutton {
        display: none;
        position: relative;
    }
}
